body {background-color: aqua;}

header, footer, button {display: none;}
.gift-title {font-size: 18px;}
p {font-size: 14px;}
img {width: 3em;}
.gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    width: 6em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.account {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0em 5em 0em;
}
h1.white-title {
    background-color: red;
    color: white;
    padding: 0.5em;
    text-align: center;
}
