/**********************/
/***    IMPORT    ***/
/*********************/

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

.sidenav-content a {
  z-index: 2;
}
/**********************/
/***    GENERAL    ***/
/*********************/
/*:root {
  --primary: #e6c951;
  --secondary: #edd882;
  --tertiary: #e0bc26;
  --bg-color: #fff;
  --text-color: #123;
  --dark: black;
  --light: white;
  --red: #b10e36;
  --side:#bf123d;
  --top: #b10e36;
  --bottom:#b9163f;
}*/

.standard {
  --primary: #e6c951;
  --secondary: #edd882;
  --tertiary: #e0bc26;
  --bg-color: #fff;
  --text-color: #123;
  --dark: black;
  --light: white;
  --red: #b10e36;
  --side:#bf123d;
  --top: #b10e36;
  --bottom:#b9163f;
  --logo-bg: url(../img/logo-yellow.png);
  --footer-bg: url(../img/footer-yellow.png);
}

.blue {
  --primary: #5b92e5;
  --secondary: #8db6ea;
  --bg-color: #fff;
  --text-color: #123;
  --dark: black;
  --light: white;
  --red: #b10e36;
  --side:#bf123d;
  --top: #b10e36;
  --bottom:#b9163f;
  --logo-bg: url(../img/logo-blue.png);
  --footer-bg: url(../img/footer-blue.png);
}
.pink {
  --primary: #e27396;
  --secondary: #eeaabf;
  --bg-color: #fff;
  --text-color: #123;
  --dark: black;
  --light: white;
  --red: #b10e36;
  --side:#bf123d;
  --top: #b10e36;
  --bottom:#b9163f;
  --logo-bg: url(../img/logo-pink.png);
  --footer-bg: url(../img/footer-pink.png);
}
.green {
  /* --green: #116F2E;*/
  --primary: #1c815f;
  --secondary: #94c4b4;
  --bg-color: #fff;
  --text-color: #123;
  --dark: black;
  --light: white;
  --red: #b10e36;
  --side:#bf123d;
  --top: #b10e36;
  --bottom:#b9163f;
  --logo-bg: url(../img/logo-green.png);
  --footer-bg: url(../img/footer-green.png);
}


body {
    box-sizing: border-box;
    height: 100%;
    background-color: #050404;
    color: var(--light);
}

header {
    background-color: var(--light);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 114px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

p {font-size: 1.3em;}

nav {padding: 1em 0em; overflow: hidden;}

nav ul {list-style-type: none;}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Pathway Gothic One', sans-serif !important;
    /*font-family: 'Voltaire', sans-serif;
    font-family: 'Pompiere', cursive;
    font-family: 'Pathway Gothic One', sans-serif !important;*/
}

h1 {color: var(--primary); }
p a { color: var(--primary);}
a {
    text-decoration: none !important;
    font-family: 'Pompiere', cursive;
    font-weight: bold;
    text-transform: uppercase;
   
    /*font-family: 'Voltaire', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif !important;*/
}

main {margin-bottom: 3em;}

footer { position: absolute;
  bottom: -110%;
  width: 100%;
  /* Height of the footer*/ 
  }

.footer {
  background-image: var(--footer-bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 10rem;
}
div.footer.container2 {
  display: flex;
  justify-content: center;
}

.footer div.center.list-details {
  position: absolute;
  bottom: 0em;
  text-align: center;
}
.footer div.center.list-details p {
  margin: 0.5em;
}
.footer img {

  width: 100%;
  max-height: 300px;;
}
.hide {
  display: none;
}
.show {
  display: block;
}

/***** TITLES *****/
.hide {
  color: #b10e36 !important;
}
.white-title {
  background-color: var(--primary);
  color: var(--light);
  padding: 0.5em;
}

.green-title { 
  color: var(--primary) ;
}

.black-title {
  font-weight: bold;
  text-transform: uppercase;
}

/***** ALIGNEMENT *****/

.right {
  text-align: right;
}

.center {
  text-align: center;
}
div.center.container2 {
  width: 70%;
  margin: 0 auto;
}

.margin-right {
  margin-right: 1em;
}

.flex-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-left: 45%;
}

/***** CONTAINERS *****/
.container-flex-column {display: flex; flex-direction: column; justify-content: center; align-content: center; align-items: center; text-align: center;}
.container1 { 
  background-color: var(--secondary);
  width: 100%;
  padding: 2em 0em;
}
.container2 {
margin: 2em;
}
.container-fluid {
  justify-content: flex-end !important;
}
.container-fluid-flex {
  justify-content: space-between;
  width:100%;
}

.avatar-signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.avatar-signup .avatar {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 1em;
  margin: 0.3em;
}

/***** BUTTONS *****/
.black-btn {
  background-color: var(--dark);
  text-transform: uppercase;
  color: var(--light);
  padding: 0em 0.5em;
  border: 2px var(--dark) solid;
  border-radius: 7px;
  margin: 1em;
}
.gray-btn {
  background-color: var(--light);
  text-transform: uppercase;
  color: var(--dark);
  padding: 0em 0.5em;
  border: 2px var(--dark) solid;
  border-radius: 7px;
  margin: 1em;
  padding-top: 0.2em;
}
.gray-btn:hover {
  background-color: var(--dark);
  color: var(--light);
  border: 2px var(--dark) solid;
  border-radius: 7px;
  transition: 0.5s ease-out;
}
.white-btn {
  background-color: var(--light);
  color: var(--primary);
  padding: 0.5em;
  border: 2px var(--primary) solid;
  border-radius: 7px;
  margin: 1em;
}
.white-btn:hover {
  background-color: var(--primary);
  color: var(--light);
  border: 2px var(--primary) solid;
  border-radius: 7px;
  transition: 0.5s ease-out;
}
.green-btn {
  background-color: var(--primary);
  color: var(--light);
  border: 2px var(--primary) solid;
  border-radius: 7px;
  transition: 0.5s ease-out;
  padding: 0.5em;
  margin: 1em;
}
.green-btn:hover {
  background-color: var(--light);
  color: var(--primary);
  padding: 0.5em;
  border: 2px var(--primary) solid;
  border-radius: 7px;
  margin: 1em;
}

/**********************/
/***    HEADER    ***/
/*********************/

.logo {
  width: 5em;
  margin: 0 auto;
  content: var(--logo-bg);
}

.navi-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hover-link-animation {
  margin-right: 1em;
}

/**********************/
/***     HOME     ***/
/*********************/

.accueil {
  width: 100%;
  margin-top: 114px;
}

.about {
  width: 70%;
  margin: 0 auto;
}

.avatar-img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  object-fit: cover;
}

.avatar {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 1em;
}

.container2 h2 {
  margin-bottom: 1em;
  margin-top: 1em;
}

.container2 .list-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#myVideo {
  right: 0;
  top: 0;
  min-width: 100%;  
}

/**********************/
/***    ACCOUNT    ***/
/*********************/
.account {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0em 5em 0em;
}

.mylists {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.formgift {
  margin: 1em;
}
.formgift {
  display: flex;
  flex-direction: column;
}

.formgift input, .formgift input[type="file" i] {
  border: none;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background-color: var(--light);
}

.formgift .white-btn {
  width: fit-content;
  margin: 0 auto;
}

.list-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: rgba(38, 119, 64, 0.19);*/
  margin: 1em;
  width:15em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.gift img {
  width: 10em;
  max-height: 10em;
}

/**********************/
/***     FORM     ***/
/*********************/

.sign-up {
  text-align: center;
  width: 60%;
  padding: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
} 
.avatar-fieldset {
  width: 50%;
}

fieldset.avatar-fieldset {
  background-color: var(--primary);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 1.5em;
}
fieldset.avatar-fieldset legend {
  color: var(--light);
}
div.avatar-fieldset {
  border: 2px var(--primary) solid;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.avatar-fieldset button {
  width: fit-content;
  margin: 0 auto;
}

.form {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  }

.form img {
  width: 20em;
}


/**********************/
/***    LISTS    ***/
/*********************/

.tag {
  position: relative;
}
.tag:before {
  content: url(../img/thread2.png);
  position: absolute;
  top: 0.7em;
  left: -2em;

}

/************* FEATURES **************/

/***** DROPDOWN *****/
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--light) !important;
}

.dropdown-child {
    display: none;
    background-color: var(--primary);
    border-radius: 7px;
    position: absolute;
    top: 1.2em;
    width: 100%;
    min-width: fit-content;
    z-index: 1000;
    transition:  1s ease;
}

.dropdown:hover .dropdown-child {
    display: block;
    flex-direction: column;
    padding: 0em 0.7em;
}

.dropdown-child li {
    float: none;
    width: 100%;
    text-align: left;
    color: var(--light);
}

.dropdown-child a {
    color: var(--light) !important;
}

/************* ANIMATIONS **************/
a.hover-link {
  position: relative;
  color: #000;
  margin-right: 1em;
}

a.hover-link:hover {
color: #000;
}

a.hover-link::before {
content: "";
position: absolute;
display: block;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #000;
transform: scaleX(0);
transition: transform 0.3s ease;
}

a.hover-link:hover::before {
transform: scaleX(1);
}

@keyframes ld-jelly-alt
{
  0% {
    animation-timing-function: cubic-bezier(0.1858,0.2841,0.5834,1.4615);
    transform: skewX(0deg);
  }
  31% {
    animation-timing-function: cubic-bezier(0.0467,0.1102,0.4803,1.4719);
    transform: skewX(6.7700000000000005deg);
  }
  41% {
    animation-timing-function: cubic-bezier(0.0469,0.1108,0.4775,1.4732);
    transform: skewX(-4.74deg);
  }
  51% {
    animation-timing-function: cubic-bezier(0.0478,0.1131,0.4723,1.4819);
    transform: skewX(3.3200000000000003deg);
  }
  61% {
    animation-timing-function: cubic-bezier(0.0506,0.1192,0.4639,1.4818);
    transform: skewX(-2.3200000000000003deg);
  }
  71% {
    animation-timing-function: cubic-bezier(0.0581,0.1374,0.457,1.4901);
    transform: skewX(1.6300000000000001deg);
  }
  81% {
    animation-timing-function: cubic-bezier(0.0765,0.1813,0.4542,1.4923);
    transform: skewX(-1.1400000000000001deg);
  }
  91% {
    animation-timing-function: cubic-bezier(0.1747,0.3181,0.341,0.878);
    transform: skewX(0.8deg);
  }
  100% {
    transform: skewX(-0.8200000000000001deg);
  }
}
.ld.ld-jelly-alt:hover {
  animation: ld-jelly-alt 1s linear; ; 
}

@keyframes ld-jingle
{
  0% {
    animation-timing-function: cubic-bezier(0.146,0.2111,0.5902,1.3204);
    transform: rotate(0deg);
  }
  11% {
    animation-timing-function: cubic-bezier(0.1079,0.1992,0.6462,0.828);
    transform: rotate(7.61deg);
  }
  23% {
    animation-timing-function: cubic-bezier(0.0504,0.0951,0.0163,0.9677);
    transform: rotate(-5.789999999999999deg);
  }
  36% {
    animation-timing-function: cubic-bezier(0.0475,0.0921,0.3134,1.0455);
    transform: rotate(3.35deg);
  }
  49% {
    animation-timing-function: cubic-bezier(0.0789,0.1565,0.3413,1.0972);
    transform: rotate(-1.9300000000000002deg);
  }
  62% {
    animation-timing-function: cubic-bezier(0.141,0.2885,0.406,1.1519);
    transform: rotate(1.12deg);
  }
  75% {
    animation-timing-function: cubic-bezier(0.226,0.4698,0.5031,1.1722);
    transform: rotate(-0.64deg);
  }
  88% {
    animation-timing-function: cubic-bezier(0.3121,0.5521,0.5655,0.8997);
    transform: rotate(0.37deg);
  }
  100% {
    transform: rotate(-0.28deg);
  }
}
.ld.ld-jingle:hover {
  animation: ld-jingle 1s infinite linear; ; transform-origin: 50% 0%
}

/* Sidenav menu */

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  background-color: var(--secondary);
  padding-top: 60px;
  transition: left 0.5s ease;
  text-align: center;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav-content {
  width: fit-content;
  margin: 0 auto;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 1em;
}
#openBtn {
  display: none;
}
.desktop {
  display:block;
}
@media (max-width: 1150px) {
  #openBtn {
    display: block;
  }
  .desktop {
    display:none;
  }
}
@media (max-width: 792px) {
  .form {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

/********* ENVELOPPE ********/
.envelope {
  position: relative;
  cursor: pointer;
  margin: 0.5em;
}

.back {
  position: relative;
  width: 250px;
  height: 130px;
  top: 55px;
  background-color: #6247aa;
}

.letter {
  position: absolute;
  background-color: #fff;
  width: 230px;
  height: 130px;
  top: 55px;
  left: 10px;
  transition: .2s;
  border: 1px lightgray solid;
}

.text {
  text-align: center;
  font-size: 17px;
  font-family: arial;
  margin-top:20px;
  font-weight: bold;
}

.front {
  position: absolute;
  border-right: 130px solid var(--side);
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
  height: 0;
  width: 0;
  top: 55px;
  left: 120px;
  z-index: 3;
}

.front:before {
  content: "";
    position: absolute;
    border-left: 130px solid var(--side);
    border-top: 65px solid transparent;
    border-bottom: 65px solid transparent;
    height: 0;
    width: 0;
    top: -65px;
    left: -120px;
}

.front:after {
  content: "";
  position: absolute;
  border-bottom: 65px solid var(--bottom);
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: 0px;
  left: -120px;
}

.top {
  position: absolute;
    border-top: 75px solid var(--top);
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 3.4em;
    transform-origin: top;
    transition: .4s;
}
.shadow {
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  width:250px;
  height:10px;
  top:220px;
  border-radius:50%;
}

.envelope:hover .top {
  transform: rotateX(160deg);
}

.envelope:hover .letter {
  transform: translateY(-50px);
  z-index:2;
}

.card-price {
	display: inline-block;
  
  width: auto;
	height: 38px;
	
	background-color: var(--red);
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid var(--red);

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color: white;
	font-weight: 300;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

@media print {
  .gift img {
    width: 10em;
    max-height: 10em;
    }
  body{background-color: red;}
}